
@{
    ViewBag.Title = "ContactUS";
}

<h2>ContactUS</h2>
<table border="1">
    <tr>
        <td><img src="~/Images/contactus.jpg"/></td>
    </tr>
    <tr>
        <td>
            <p>For Any Queries Contact us at:</p>
        </td>
    </tr>
    <tr>
        <td>
           <h2>Customer Support:1800-258-9874</h2>
        </td>
    </tr>
    <tr>
        <td>
            <h2>Email:customersupport@quickcart.com</h2>
        </td>
    </tr>
    
</table>
