
@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/navigationmenu.cshtml";

}

<h2>Welcome:@Session["LoggedCustomer"]</h2>
@using (Html.BeginForm())
{
    <table>
        <tr>
           <td>
               
           </td>
        </tr>
    </table> 
}

